body{
    width: 100%;
    padding-right: 0; 
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/*TITULOS*/
.titulo{
    margin: 3px;
    padding: 8px 3px 3px;
    align-items: center;
}

.titulo--custom{
    font-family: "alegreya", serif;
    text-align: center;
    font-weight: bold;
}
